@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
   
}
.heading {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #121313; /* Dark blue color */
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.image-container {
    margin-right: 20px;
    background-color: #333;
}

.image-container img {
    max-width: 100%;
    border-radius: 8px;
}

.content {
    max-width: 800px;
    text-align: justify;
    text-indent: 0%;
}

h2 {
    color: #265073;
}

p {
    line-height: 1.6;
}

/* Styles for the h1 element */
h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin-bottom: 30px;
}

.footer-col h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.services-list {
    list-style: none;
    padding: 0;
}

.services-list li {
    margin-bottom: 10px;
}

.services-list li a {
    color: #555;
    text-decoration: none;
}

.btn {
    display: inline-block;
    background-color: #265073;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #1e436b;
}



/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

